<%= form_tag new_session_path do %>
  <%= text_field :session, :email %>
  <%= password_field :session, :password %>
  <%= submit_tag "Login" %>
<% end %>

<p class="errors"><%= flash[:alert] %></p>

