<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.full_messages.each do |message| %>
      <% if message.include? 'Password confirmation' %>
        <li><%= @user.errors.messages[:password_confirmation].first %></li>
      <% else %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<div class="form_container">
  <h2>Reset Password</h2>
  <%= form_for :user, url: "/reset_password/#{params[:reset_token]}", method: :post do |f| %>

    <div class="form_input">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form_input">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="button">
      <%= f.submit "Update password" %>
    </div>
  <% end %>
</div>

