<div class="shopping_cart">
  <div class="shopping_cart_title">
    <h2>My Cart</h2>
  </div>
  <div class="row">
    <div class="cell_1">
      <h2>Book Name</h2>
    </div>
    <div class="cell_quantity">
      <h2>Quanity</h2>
    </div>
    <div class="cell">
      <h2> Price </h2>
    </div>
  </div>

  <% @cart_items.each do |item| %>
    <div class="row">
      <div class="cell_1"><p><%= item.product.name %></p>
      </div>
      <div class="cell_quantity">

        <p><input type="number" value="1" name="cart_item[quantity][<%= item.id %>]"/></p>

      </div>
      <div class="cell">
        <p><%= item.product.hardcover_price %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="total">
  <div class="total_title">
    <p>Total: <%= @total %> </p>

    <div class="button">
      <% session[:total] = @total %>
      <%= link_to "Checkout", new_charge_path %>
    </div>
  </div>
</div>




