<div class="product_description">
  <div>
    <%= link_to product.name, product_path(product) %>
    <%= product.author.last_name %>
  </div>
  <div>
    <%= product.publisher.name %>
    <% if product.published_date %>
        <%= product.published_date.strftime("(%b %-d, %Y)") %>
    <% end %>
  </div>
  <div class="product_price">
    <%= product.hardcover_price %> (Hardcover)
  </div>
  <div class="product_price">
    <%= product.softcover_price  %> (Softcover)
  </div>
  <div class="add_to_cart">
    <strong>
      <%= button_to "Add To Cart", :controller => "carts",
                    :action => "add", :id => product.id %>
    </strong>
  </div>
</div>