<div class="content_container">

  <%= link_to "Login", login_path %> |
  <%= link_to "Register", new_user_path %>

  <p class="flash_notice"><%= flash[:alert] %></p>

  <% @products.each do |product| %>
    <div class="product_container">
      <div class="product_picture">
        <img src='<%= product.image_url %>'>
      </div>
      <!--end product_picture-->
      <div class="product_description">
        <li>
          <%= product.name %>
        </li>
        <li>
          <% if product.published_date %>
            <%= product.published_date.strftime("(%b %-d, %Y)") %>
          <% end %>
        </li>
        <div class="product_price">
          <li>
            <%= product.hardcover_price %> (Hardcover)
          </li>
          <li>
            <%= product.softcover_price %> (Softcover)
          </li>
        </div>
        <!--end product_price-->
      </div>
      <!--end product_description-->
    </div>
    <!--end product_container-->
  <% end %>
</div><!--end content_container-->