<div class="content_container">
  <div class="form_container">
    <h1>Product</h1>
    <%= form_for @product do |f| %>
      <div class="form_input">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="form_input">
        <%= f.label :hardcover_price, 'Hardcover' %>
        <%= f.text_field :hardcover_price %>
      </div>
      <div class="form_input">
        <%= f.label :softcover_price, 'Softcover' %>
        <%= f.text_field :softcover_price %>
      </div>
      <div class="form_input">
        <%= f.label :image_url, 'Image' %>
        <%= f.text_field :image_url %>
      </div>
      <div class="form_input">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="form_input">
        <%= f.label :published_date, 'Published on' %>
        <%= f.text_field :published_date %>
      </div>
      <div class="button">
        <%= f.submit 'Save Product' %>
      </div>
    <% end %>
  </div>
</div>