<div class="content_container">
  <div class="form_container">
    <h1>Product</h1>
    <%= form_for @product do |f| %>

      <% if @product.errors.present? %>
        <div class="product_errors">
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </div>
      <% end %>
      <div class="form_input">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="form_input">
        <%= f.label :hardcover_price, 'Hardcover' %>
        <%= f.text_field :hardcover_price %>
      </div>
      <div class="form_input">
        <%= f.label :softcover_price, 'Softcover' %>
        <%= f.text_field :softcover_price %>
      </div>
      <div class="form_input">
        <%= f.label :image_url, 'Image' %>
        <%= f.text_field :image_url %>
      </div>
      <div class="form_input">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="form_input">
        <%= f.label :published_date, 'Published on' %>
        <%= f.text_field :published_date %>
      </div>
      <div class="form_select">
        <%= f.label :author_id, 'Author' %>
        <%= f.select :author_id, Author.all.map { |author| ["#{author.first_name} #{author.last_name}", author.id] },
                     :include_blank => 'Select an author' %>
      </div>
      <div class="form_select">
        <%= f.label :publisher_id, 'Publisher' %>
        <%= f.select :publisher_id, Publisher.all.map { |publisher| [publisher.name, publisher.id] },
                     :include_blank => 'Select a publisher' %>
      </div>
      <div class="button">
        <%= f.submit 'Save Product' %>
      </div>
    <% end %>
  </div>
</div>