<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <title>G2Store</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header><h1>g2-store</h1></header>

<nav>
  <ul id="navigation_links">
    <% if is_admin? %>
      <li><%= link_to 'Add Publisher', new_publisher_path %> </li>
    <% else %>
    <% end %>
  </ul>
  <ul id="authentication_links">
    <% if session[:id].present? %>
      <li>Welcome, <%= User.find(session[:id]).email %></li>
      |
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', login_path %></li>
      |
      <li><%= link_to 'Register', new_user_path %></li>
    <% end %>
  </ul>
</nav>

<% if flash[:notice] %>
  <div class="flash_notice">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="errors">
  <%= flash[:alert] %>
</div>

<%= yield %>

</body>
</html>
